#addDialog {
  .panel-body button {
    margin-bottom: $line-height-computed;
  }
  .align-right {
    text-align: right;
  }
}

#addDialog .dropdown-menu {
  max-height: 200px;
  overflow-y: scroll;
}
