<!-- Modal -->
<modal id="addDialog" [backdrop]="false" #modal>
    <modal-header [show-close]="true">
      <h4 class="modal-title">{{'dialog.addNewRestaurant' | translate}}</h4>
      <h6>{{wizardStep}}</h6>
    </modal-header>
    <modal-body>
      <!-- TODO: summary page is currently out-of-scope -->
      <dmb-add-step-main [hidden]="wizard.step != BASE_DATA_STEP" [wizard]="wizard" [provider]="provider"></dmb-add-step-main>
      <dmb-add-step-mealset *ngFor="let mealSet of provider.mealSetXPaths; let index = index" [hidden]="wizard.step != index + 2" [wizard]="wizard" [provider]="provider"></dmb-add-step-mealset>
    </modal-body>
    <modal-footer>
      <button type="button" class="btn btn-default" [disabled]="wizard.step == BASE_DATA_STEP" (click)="onPreviousStep()">
          <i class="fa fa-caret-left" aria-hidden="true"></i>
          <label>{{'button.previous' | translate}}</label>
      </button>
      <button type="button" class="btn btn-default" [ngClass]="{invisible : wizard.step == BASE_DATA_STEP}" [disabled]="provider.mealSetXPaths.length == 1" (click)="onRemoveMealSet()">
          <i class="fa fa-minus" aria-hidden="true"></i>
          <label>{{'dialog.button.menuSet.remove' | translate}}</label>
      </button>
      <button type="button" class="btn btn-default" [ngClass]="{invisible: wizard.step == BASE_DATA_STEP}" [disabled]="!isCurrentMealSetStepValid()" (click)="onAddMealSet()">
          <i class="fa fa-plus" aria-hidden="true"></i>
          <label>{{'dialog.button.menuSet.add' | translate}}</label>
      </button>
      <button type="button" class="btn btn-primary" [hidden]="wizard.step == wizard.lastStep" [disabled]="!isCurrentStepValid()" (click)="onNextStep()">
          <i class="fa fa-caret-right" aria-hidden="true"></i>
          <label>{{'button.next' | translate}}</label>
      </button>
      <button type="button" class="btn btn-primary" [hidden]="wizard.step != wizard.lastStep" [disabled]="!isCurrentStepValid()" (click)='onSubmit()'>
          <i class="fa fa-check" aria-hidden="true"></i>
          <label>{{'button.submit' | translate}}</label>
      </button>
      <button type="button" class="btn btn-default" (click)='onClose()'>
          <i class="fa fa-times" aria-hidden="true"></i>
          <label>{{'button.close' | translate}}</label>
      </button>
    </modal-footer>
</modal>
