# @AngularClass

# Logs
logs
*.log

# Coverage directory used by tools like istanbul
coverage

# Node Files #
/node_modules
npm-debug.log

# Coverage #
/coverage/

# Typing #
/src/typings/tsd/
/typings/
/tsd_typings/

# Dist #
/dist
/dist/**
.webpack.json
