<div class="list">

    <div class="container-fluid">
        <ul class="list-group">

            <li class="list-group-item">

                <h2 class="list-group-item-heading clearfix">

	    			<label class="h2">Kaja1 </label>

               <div class="pull-right">

                     <button type="button" class="btn btn-danger btn-lg">
                        <i class="fa fa-cutlery" aria-hidden="true"></i> Restaurant
                     </button>


							<div class="popover left static-popover" id="testPopover" ng-show="application.test != null && application.test.zeit != null">
								<div class="arrow"></div>
								<div class="popover-content h2">
									<label>

                           </label>

								</div>
							</div>
						</div>
				</h2>

            </li>

        </ul>
    </div>
</div>
