<div class="list">

    <div class="timeline timeline-left gray-blue">
        <!-- Main element container -->
        <div class="timeline-block" *ngFor="let mealSet of list ; let i = index">

            <!-- Single block -->
            <div class="timeline-icon"></div>
            <!-- Icon on the timeline -->
            <div class="timeline-content" [ngStyle]="{'background-color': '#' + mealSet.mealProvider.color , 'height' : '100%'}">


                  <meal-set [mealSet]="mealSet" *ngIf="mealSet !==null && mealSet !=undefined"></meal-set>

                      <!-- popover ? -->

                      <button class="btn btn-danger btn-lg " data-toggle="modal " data-target="#provider ">
                          <i class="fa fa-cutlery " aria-hidden="true "></i> Restaurant
                      </button>




                   <!-- Modal -->
                   <div id="provider "  class="modal fade " role="dialog ">
                     <div class="modal-dialog ">
                         <meal-provider [mealProvider]="mealSet.mealProvider " *ngIf="mealSet.mealProvider !==null && mealSet.mealProvider !=u ndefined "></meal-provider>

                         <div class="modal-footer ">
                           <button type="button " class="btn btn-default " data-dismiss="modal ">Close</button>
                         </div>


                     </div>
                   </div>


                   <!-- Content -->
                   <div class="timeline-date ">
                      <label class="h2" *ngIf="mealSet.mealProvider.distance !== null && mealSet.mealProvider.distance !== undefined">{{mealSet.mealProvider.distance}} m</label>
                   </div>
                   <!-- Date -->
               </div>

        </div>

    </div>



</div>
