<form role="form" [formGroup]="group" (ngSubmit)="onSubmit()" novalidate>
  <div class="form-group" [ngClass]="{'has-error': group.controls['name'].dirty && !group.controls['name'].valid}">
      <label for="name" class="required">{{'dialog.name' | translate}}:</label>
      <input type="text" class="form-control" id="name" formControlName="name" [(ngModel)]="provider.name" required="true">
      <div *ngIf="group.controls['name'].dirty">
        <div *ngIf="group.controls['name'].hasError('required')" class="help-block">{{'message.validation.required' | translate}}</div>
        <div *ngIf="group.controls['name'].hasError('duplicated')" class="help-block">{{'message.validation.duplicated' | translate}}</div>
      </div>
  </div>
  <div class="form-group">
      <label for="homePage">{{'dialog.homePage' | translate}}:</label>
      <input type="url" class="form-control" id="homePage" formControlName="homePage" [(ngModel)]="provider.homePage">
  </div>
  <div class="form-group">
      <label for="phone">{{'dialog.phone' | translate}}:</label>
      <input type="tel" class="form-control" id="phone" formControlName="phone" [(ngModel)]="provider.contacts['phone']">
  </div>
  <div class="form-group">
      <label for="address" class="required">{{'dialog.address' | translate}}:</label>
      <input type="text" class="form-control" id="address" formControlName="address" [(ngModel)]="provider.contacts['address']" [debounceTime]="1000" required>
      <div *ngIf="group.controls['address'].dirty">
        <div *ngIf="group.controls['address'].pending">{{'message.validation.pending' | translate}}</div>
        <div *ngIf="group.controls['address'].hasError('required')" class="help-block">{{'message.validation.required' | translate}}</div>
        <div *ngIf="group.controls['address'].hasError('address')" class="help-block">{{'message.validation.invalidAddress' | translate}}</div>
      </div>
  </div>
  <div class="form-group" [ngClass]="{'has-error': group.controls['dailyMealUrl'].dirty && !group.controls['dailyMealUrl'].valid}">
      <label for="dailyMealUrl" class="required">{{'dialog.dailyMealUrl' | translate}}:</label>
      <input type="url" class="form-control" id="dailyMealUrl" formControlName="dailyMealUrl" [(ngModel)]="provider.dailyMealUrl" required>
      <div *ngIf="group.controls['dailyMealUrl'].dirty">
        <div *ngIf="group.controls['dailyMealUrl'].hasError('required')" class="help-block">{{'message.validation.required' | translate}}</div>
        <div *ngIf="group.controls['dailyMealUrl'].hasError('duplicated')" class="help-block">{{'message.validation.duplicated' | translate}}</div>
      </div>
  </div>
  <div class="form-group" [ngClass]="{'has-error': group.controls['color'].dirty && !group.controls['color'].valid}">
      <label for="backgroundColor" class="required">{{'dialog.color' | translate}}:</label>
      <input type="text" class="form-control" id="color" formControlName="color" [(ngModel)]="provider.color" required>
      <div *ngIf="group.controls['color'].dirty">
        <div *ngIf="group.controls['color'].hasError('required')" class="help-block">{{'message.validation.required' | translate}}</div>
        <div *ngIf="group.controls['color'].hasError('color')" class="help-block">{{'message.validation.color' | translate}}</div>
      </div>
  </div>
</form>
