<div
   [ngStyle]="{'background-color': '#' + mealProvider.color , 'height' : '100%'}"
   class="mealProviderDiv"
   >

   <div class="well well-sm mealprovider-well" style="border-radius: 10px 10px 0px 0px;">
         <label class="h3" style="margin: 0px">{{mealProvider.name}}</label>
         <div class="pull-right">
            <a
               href="{{mealProvider.homePage}}"
               class="btn btn-xs btn-default"
               target="_blank"
               >
               <i class="fa fa-home fa-2x" aria-hidden="true"></i>
            </a>
            <a
               href="tel:{{mealProvider.contacts.phone}}"
               class="btn btn-xs btn-default"
               target="_blank"
               >
               <i class="fa fa-phone fa-2x" aria-hidden="true"></i>
            </a>
            <button
               type="button"
               (click)="openEditDialog(mealProvider)"
               class="btn btn-xs btn-default"
               >
               <i class="fa fa-pencil fa-2x" aria-hidden="true"></i>
            </button>
            <button
               type="button"
               (click)="openRemoveDialog(mealProvider)"
               class="btn btn-xs btn-default"
               >
               <i class="fa fa-times fa-2x" aria-hidden="true"></i>
            </button>
         </div>
   </div>

   <div class="container-fluid" *ngIf="showMealSet===true">
        <meal-set [mealSet]="mealSet" *ngFor="let mealSet of mealProvider.mealSets"></meal-set>
   </div>
</div>
<confirm msg="{{'message.confirm.deleteMealProvider' | translate}}" (onClose)="confirmRemoveMealProvider($event)"></confirm>
