[hidden] {
  display:none;
}

input[required] {
  /*background-color: #ff0; */
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px white inset;
}

input.dmb-with-icon {
  display: inline-block;
  width: 90%;
}
