<main>


    <nav class="navbar navbar-inverse" role="navigation">
        <div class="container-fluid">

            <div class="navbar-header">

                <a class="btn" href="#" style="color: white">
                    <i class="fa fa-2x fa-cutlery" title="Daily Menu Board" aria-hidden="true"></i>
                    <label class="h4">{{'title' | translate}}</label>
                </a>


            </div>

            <div class="navbar-text">

            </div>

            <ul class="nav navbar-nav">
                <li routerLinkActive="active">
                    <a [routerLink]="['Box']">
                       <label>{{'view.box' | translate}}</label>
                     </a>
                </li>
                <li routerLinkActive="active">
                    <a [routerLink]="['List']">
                       <label>{{'view.list' | translate}}</label>
                    </a>
                </li>



            </ul>

            <settings></settings>

            <form class="navbar-form navbar-right" *ngIf="false">
                <div class="form-group">

                    <div class="input-group">

                        <input type="text" ng-model="vm.searchForApplication" class="form-control" placeholder="Search" />

                        <span class="input-group-btn">
                          <button class="btn btn-info" type="button"><span class="glyphicon glyphicon-search"></span></button>
                        </span>
                    </div>

                </div>
            </form>
        </div>
    </nav>

    <router-outlet></router-outlet>

</main>
