<div class="grid" [ngGrid]="{'max_cols': maxNumberOfColumn, 'auto_resize': true}">

    <div *ngFor="let box of boxes" [(ngGridItem)]="box.config" [ngClass]="{'empty-grid-item' : !box.mealProvider}">
        <meal-provider
            [mealProvider]="box.mealProvider"
            *ngIf="box.mealProvider"
            [showMealSet]="true"
         ></meal-provider>

        <div class="vcenter">
            <button *ngIf="!box.mealProvider" class="btn btn-default pull-right box-button-top-right" (click)="openAddDialog()">
                <i class="fa fa-plus" aria-hidden="true"></i>
                <label>{{'button.add' | translate}}</label>
            </button>
        </div>
    </div>



    <div class="grid-item not-rounded no-shadow" [ngGridItem]="{
            'col': 2,
            'row': 1,
            'sizex': 2,
            'sizey': 2,
            'draggable': false,
            'resizable': false
         }">

        <map [mealProviders]="mealProviders"></map>
    </div>


</div>
<add-view [mealProviders]="mealProviders"></add-view>
